# ===== IDEs =====
.idea/
.vscode/
*.iml

# ===== Java =====
*.class

# ===== Maven =====
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# ===== Logs =====
*.log

# ===== Sistema Operacional =====
.DS_Store
Thumbs.db

# ===== Relatórios de teste =====
.allure/
allure-results/
allure-report/

# ===== Coverage =====
coverage/
